[submodule "zuni-frontend2"]
	path = zuni-frontend2
	url = git@github.com:DV-Lab/zuni-frontend2
	branch = main
[submodule "zuni-backend2"]
	path = zuni-backend2
	url = git@github.com:DV-Lab/zuni-backend2
	branch = main
[submodule "zuni-mobile2"]
	path = zuni-mobile2
	url = git@github.com:DV-Lab/zuni-mobile2
	branch = main
[submodule "zuni-smart-contract"]
	path = zuni-smart-contract
	url = git@github.com:DV-Lab/zuni-smart-contract
	branch = main
[submodule "zuni-zk-circuit2"]
	path = zuni-zk-circuit2
	url = git@github.com:DV-Lab/zuni-zk-circuit2.git
	branch = main
